.masthead{
    background-image: url(https://claudiamartinelli.it/sito/wp-content/uploads/2020/09/numero-blogpost-mensile-e1599127593563.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.vh-75{
    height: 75vh;
}

.search{
    height: 40px;
    width: 250px;
}

.card-border{
    border-radius: 10px;
}

.card-img{
    border-radius : 10px 10px 0px 0px;
}

body{
    background-color: rgb(221, 221, 221);
}